
._3arc {
    width: 30px;
    height: 30px;
    /*border: 1px dashed lightblue;*/
    position: relative;
}

._3arc div {
    box-sizing: border-box;
}

._3arc .overf {
    width: 30px;
    height: 60px;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    left: -1px;


    pointer-events: none;
}

._3arc .frst-sqr {
    width: 30px;
    height: 30px;
    border: 1px solid red;
    position: absolute;
    bottom: 0;

    overflow: visible;
}

.frst-sqr-fake {
    position: absolute;
    bottom: -1px;
    left: 0px;
    width: 30px;
    height: 30px;
    border: 1px solid red;


    pointer-events: all;
}

._3arc .scnd-sqr {
    width: 26px;
    height: 20px;
    border: 1px solid red;
    position: absolute;
    background: white;

    transition: all 300ms;
}

._3arc .red-arc {
    content: " ";
    background: red;
    position: absolute;
    border: 1px solid red;
    border-top: none;
    width: 14px;
    height: 14px;
    mix-blend-mode: darken;
    transition: all 300ms;

}

._3arc .red-arc:hover > div {
    //background: black;
}

._3arc .red-arc > div {
    width: 12px;
    height: 13px;
    background: white;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    position: absolute;
    bottom: 0;
}

._3arc .red-arc-3 {
    bottom: -40px;
    left: 7px;
}

._3arc .red-arc-2 {
    bottom: -21px;
    left: 7px;
}

._3arc .red-arc-1 {
    bottom: -20px;
    left: 7px;
    transform: scaleY(-1);
}

._3arc .scnd-sqr {
    bottom: -20px;
    left: 1px;
}

._3arc .frst-sqr-fake:hover .red-arc-3 {
    bottom: 40px;
}

._3arc .frst-sqr-fake:hover .red-arc-2 {
    bottom: 21px;
}

._3arc .frst-sqr-fake:hover .red-arc-1 {
    bottom: 0;
}

._3arc .frst-sqr-fake:hover .scnd-sqr {
    bottom: 20px;
}