body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

div {
    box-sizing: border-box;
}


.grid {
    display: flex;
    align-items: flex-end;
}

.grid > div:not(:nth-last-child(1)) {
    margin-right: 3rem;
}